doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Antifantwerp

        link(rel="stylesheet", href="/stylesheet.css")

        include favicons.pug

        -
            function getFromPagination(variable, key, defaultValue) {
                if (variable !== undefined) {
                    return variable;
                } else if (pagination) {
                    const data = pagination.items[0][key];
                    return key == "title" ? data + " - Antifantwerp" : data;
                } else {
                    return defaultValue;
                }
            }
            title = getFromPagination(title, "title", "Antifantwerp")
            description = getFromPagination(description, "description", "A small puddle of information for being anti-fascist in Antwerp. Information about stickers to (not) look out for, or organisations to lend aid to!")


        meta(property="og:title" content=title)
        meta(property="og:url" content="https://antifantwerp.github.io" + page.url)
        meta(property="og:description" content=description)
        meta(property="og:image" content="https://antifantwerp.github.io/assets/stolen-from-anarchistbookfairamsterdam-sorry-ill-replace-it-later.png")
        meta(property="og:image:alt" content="An antifa logo: a white circle with a black border. Within the circle is a black flag on the front, and left-below-behind it a red one. The top of the circle says Antifa, the bottom says Antwerp")
        meta(property="og:site_name" content="Antifantwerp")

        if stylesheet
            link(rel="stylesheet", href=stylesheet)


    body
        header 
            a(href="#main").skip-link Skip to main content
            nav
                - collections.page.sort((pageA, pageB) => pageA.data.order - pageB.data.order);  // https://stackoverflow.com/a/979289a                
                ul
                    for page in collections.page
                        li
                            a(href=page.url)=page.data.title

        | !{content}
        