---
layout: base.pug
stylesheet: /style/political-parties.css
eleventyComputed:
    description: "Want to know whether political parties in #{watchId} actually support their statements? Now you can. Complete with articles."
---
mixin tagbutton(type, id, title=false)
    - if (!title) { title = id };
    button(name=type, value=id).tag=title

- 
    const allParties = watchpigeon[watchId];
    const relatedArticles = [];
    function filterParties(condition) {
        Object.keys(allParties).forEach((partyId) => {
            if (condition(allParties[partyId])) {
                delete allParties[partyId]
            } 
        });
    }

    // Filter out parties with no configuration
    filterParties((party)=> {return party == null});

    let maxScale = {};

    Object.keys(watchpigeon.articles).forEach((sourceId) => {
        console.log(sourceId)
        const source = watchpigeon.articles[sourceId];
        console.log(source)

        source.forEach((entry) => {
            const partyIds = Object.keys(entry).filter(key => key != "url" && key != "subjects" && key != "description" && key != "note" && key != "year");
            let articleContainsOneOfParties = false;

            partyIds.forEach((partyId) => {
                console.log(partyId)
                console.log(allParties)
                if (!Object.hasOwn(allParties, partyId)) {
                    console.log(`${entry.description} does not contain ${partyId}`)
                    return;
                }
                articleContainsOneOfParties = true;
                if (!Object.hasOwn(allParties[partyId], "points")) {
                    allParties[partyId].points = 0;
                    maxScale[partyId] = 0;
                }
                console.log("-@-")

                allParties[partyId].points += entry[partyId].value;
                maxScale[partyId] += 3;
            });
            if (articleContainsOneOfParties) {
                relatedArticles.push(entry);

            }

        });
    });

    // Filter out parties with no points/articles
    filterParties((party)=> {return !Object.hasOwn(party, "points")});


main#main
    h1 
        a(href="/watchpigeon/") Watchpigeon
        span &nbsp;-&nbsp;#{watchId}
    section#scale
        h2 Scale
        each classname in ["desktop", "mobile"]
            div(class=classname)
                each party in allParties
                    - 
                        let px;
                        let value;
                        if (party.points >= 0) {
                            console.log(party.points)
                            console.log(maxScale[party.id])
                            console.log(party.name)
                            value = party.points / maxScale[party.id] * 100  //50 - (100/maxScale - party.points)

                            from = classname == "desktop" ? "right" : "bottom";
                        } else {
                            let points = party.points * -1;
                            value = points / maxScale[party.id] * 100;  //50 - (100/maxScale - party.points)
                            from = classname == "desktop" ? "left" : "top";
                            //left = party.points / maxScale * 100  //50 - (100/maxScale - party.points)
                            //left = 50 + (100/maxScale - points)

                        }
                        
                    if party.name
                        //svg.party(style="left: " + left + "%")
                        img.party(title=party.name style=from + ": " + value + "%" src=`/assets/watchpigeon/${party.id}.svg` alt=`${party.name} logo`)

    section
        h2 Scoring system
        p Dependant on whether the party is in line with our values, the score will be added or subtracted.
        ul
            each score in Object.keys(watchpigeon.scale)
                li +/-#{score}:
                    ul
                        each description in watchpigeon.scale[score]
                            li=description



        h2 Considered articles

        fieldset#tags
            legend Tags


            each tag in watchpigeon.subjects 
                +tagbutton("subject", tag)
            
            each party in allParties
                +tagbutton("party", party.id, party.name)



        section#articles
            - console.log(relatedArticles)
            each article in relatedArticles
                - const involvedParties = Object.keys(article).filter(key => key != "url" && key != "subjects" && key != "description"&& key != "note" && key != "year");
                - const allTags =involvedParties.concat(article.subjects).join(",");
                article(data-tags=allTags)
                    -
                        let description = article.description;
                        if (article.year) {
                            article.description = `${article.description} (${article.year})`
                        }
                    h3=article.description
                    if article.note
                        p Note: #{article.note}

                    h4 Party scores
                    ul
                        each party in involvedParties
                            +tagbutton("party", party, `${party}: ${article[party].value}, ${article[party].note}`)

                    h4 Tags
                    ul
                        each subject in article.subjects
                            +tagbutton("subject", subject)
                    
                    - if (!Array.isArray(article.url))
                        a(href=article.url)=article.url
                    - else
                        ul
                            each url in article.url
                                li
                                    a(href=url)=url

    script(src="/scripts/political-parties.js")