---
layout: base.pug
stylesheet: /style/political-parties.css
eleventyComputed:
    description: "Want to know whether political parties in #{watchId} actually support their statements? Now you can. Complete with articles."
---
mixin tagbutton(type, id, title=false)
    - if (!title) { title = id };
    button(name=type, value=id).tag=title

-
    const relevantParties = AFAWatchpigeonParties.filter(party => party.areas.includes(watchId));
    const relevantPartyIds = relevantParties.map((party) => party.id)
    const relevantArticles = AFAWatchpigeonArticles.filter(article => article.responses.find((response) => relevantPartyIds.includes(response.party.id)));
    let points = {};
    let maxScale = {};
    let involvedArticles = {};
    const percentages = [];
    const relatedArticles = [];
    // Filter out parties with no configuration
    //filterParties((party)=> {return party == null});

    function addToObjectNumber(object, key, increaseWith) {
        if (!Object.hasOwn(object, key)) {
            object[key] = 0;
        }
        object[key] += increaseWith;
        return object;
    }

    // do this for all articles, in case an organiastion has overlap between areas; all data has to be considered
    AFAWatchpigeonArticles.forEach((article, articleId) => {
        article.responses.forEach((response) => {
            const partyId = response.party.id;
            points = addToObjectNumber(points, partyId, response.score + 3) // +3 to normalize into positive values from 0-6
            maxScale = addToObjectNumber(maxScale, partyId, 3 + 3)  // Same as above
            involvedArticles = addToObjectNumber(involvedArticles, partyId, 1);
        });
    });

    // Convert from a possibly negative value to percentages
    for (partyId in points) {
        if (!relevantPartyIds.includes(partyId)) continue;
        const partyMax = maxScale[partyId];
        const partyPoints = points[partyId];
        const percentage = partyPoints/partyMax*100;
        const party = relevantParties.find(party => party.id == partyId)
        party.percentage = percentage;

        percentages.push(party);
    }


main
    script(src="/vendor/nouislider.min.js")
    link(rel="stylesheet" href="/vendor/nouislider.min.css")
    h1
        nav(aria-label="breadcrumb")
            ul
                li
                    a(href="/watchpigeon/") Watchpigeon
                li
                    a(href="#")=watchId
    section#scale
        h2 Scale
        div(type="range" id="input-scale")

    br
    
    section
        h2 Scoring system
        p Dependant on whether the party is in line with our values, the score will be added or subtracted.
        ul
            li +/- 1
                ol
                    li (+) Supported with leeway
                    li (-) Opposes with leeway
            li +/- 2
                ol
                    li (+) Peddled by members and/or website
                    li (-) Horrible stuff peddled by members and/or website
            li +/-3
                ol
                    li (+) Active campaign point, support proven through external sources, pushes rights forwards
                    li (-) Negative active campaign point, opposition proven through external sources, pushes rights backwards
        h2 Considered articles

        fieldset#tags
            legend Tags

            
            each subject in AFAWatchpigeonSubjects
                +tagbutton("subject", subject.id, subject.name)
            
            hr

            each party in relevantParties
                +tagbutton("party", party.id, party.name)

            hr


        section#articles
            each article in relevantArticles
                -
                    const involvedPartyIds = article.responses.map(response => response.party.id)
                    const involvedParties = relevantParties.filter((party) => involvedPartyIds.includes(party.id));
                    const involvedSubjects = article.subjects.map(subject => subject.AFAWatchpigeonSubjects_id)
                    const allTags =involvedParties.map(party => party.id).concat(involvedSubjects.map(subject => subject.id)).join(",");
                article(data-tags=allTags)
                    header
                        h3 #{article.title} (#{article.year})
                    if article.note
                        p Note: #{article.note}

                    h4 Party scores
                    ul.party-scores
                        each party, i in involvedParties
                            - const response = article.responses.find(response => response.party.id == party.id);
                            li
                                hgroup
                                    h5
                                        img(aria-hidden=true src="/assets/" + party.logo.filename_download)
                                        span=party.name
                                    p Score: #{response.score}
                                p=response.note
                                if i < involvedParties.length-1
                                    hr

                    footer
                        h4 Tags
                        ul
                            each party in involvedParties
                                +tagbutton("party", party.id, party.name)
                            each subject in involvedSubjects
                                +tagbutton("subject", subject.id, subject.name)
                        
                        ul
                            each source in article.sources
                                li
                                    a(href=source.url)=source.name

    script let parties = '!{JSON.stringify(percentages)}';
    script(src="/scripts/political-parties.js")