---
layout: page.pug
permalink: "| stickers/"
order: 1
title: Stickers
description: Information about stickering from both sides.
---

style.
    article {
        padding: 10px;
    }
    #support {
        background-color: #A7FC98;
    }
    #neutral {
        background-color: #F5D79E;
    }
    #cover {
        background-color: #EDA7A7;
    }
    #positive {

    }
    img {
        width: 180px;
        max-width: 100%;
    }


main#main
    h1 Stickers 
    p=description

    :markdown-it
        Quick navigation:

        - [How-to: covering/removing stickers](#howto)
        - [Far-right stickers detected in Antwerp](#cover)
        - [Neutral stickers detected in Antwerp](#neutral)
        - [Good sources for leftist stickers](#support)


    h2#howto How-to: covering/removing stickers

    details
        summary Content warning for bodily injury: if so, skip to the next header with the takeaway "cover, don't remove".

        p.
            Keep in mind that some far-right people have been shown to attempt to stop by putting razor blades under their stickers.
            This means that, when faced with a sticker you wish removed.

        ul
            li Use a tool to remove it 
            li Cover it up with another stickers
            li Or - if you are adept at tactile detection - check if the sticker is hiding something underneath 
                
        p.
            Let our stance be clear: do NOT do this. And that isn't a bid for respectability politics.
            This is because this assumes that a far-right person will remove it.
            So remember: the chance that an innocent government worker, volunteer, store employee,
            or random person might be tasked with removing the sticker is not impossible.
            Hurting innocent people is a price not worth paying.

        p - Pigeon


    mixin stickers(id, header, description, stickers)
        article(id=id)
            h2 Spotted: #{header}

            p=description
            
            ul
                each sticker in stickers
                    - console.log(sticker)
                    li
                        img(alt=sticker.image_description src=`/assets/${sticker.image.filename_download}`)
                        if sticker.description
                            p=sticker.description
                        if sticker.url
                            span Source: #[a(href=sticker.url)=sticker.label]

    

    +stickers(
        "cover", 
        "Far-right stickers in Antwerp",
        "This list is not exhaustive, these are merely stickers and signs that have been spotted in Antwerp by contributors to the website.",
        AFAStickers.filter((sticker)=> sticker.category === "bad")
    )
    
    +stickers(
        "neutral",
        "Neutral stickers in Antwerp",
        "Sometimes a sticker looks like it would be political, for better and for worse. Then it turns out, it's neither.",
        AFAStickers.filter((sticker)=> sticker.category === "neutral")
    )


    article#support
        h2 Good sticker sources
        p Want some stickers to put places?

        mixin source(name, url, note=false)
            a(href=url)=name
            if note
                span  #{note}

        ul
            each source in AFAOrganisations
                if source.type == "stickersource"
                    li
                        +source(source.name, source.url, source.note)
                        
                    
