---
layout: page.pug
permalink: "| organisations/"
order: 2
title: Organisations
description: Leftist organisations in &amp; around Belgium
---

mixin org(title, description, url, prettyUrl, subOrg=false)
    if !subOrg
        h2=title
    else
        h3=title
    p=description

    a(href="https://antwerpen.pvda.be/")=prettyUrl

main#main
    h1 Organisations
    p Support eachother. Below are a bunch of links to leftist organisations. 

    each location in organisations

        h2=location.header
        if location.subHeader
            p=location.subHeader

        section(id=location).organisations

            each organisation in location.organisations
                ul
                    li
                        +org(organisation.name, organisation.description, organisation.url, organisation.prettyUrl)
                    
                        if organisation.subOrganisations
                            ul
                                each subOrganisation in organisation.subOrganisations
                                    li
                                        +org(subOrganisation.name, subOrganisation.description, subOrganisation.url, subOrganisation.prettyUrl, true)
                        


    style.
        .organisations {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .organisations ul {
            flex-basis: 40%;
            margin: 20px;
            @media (max-width: 600px) {
                flex-basis: 100%;
            }
        }