---
layout: page.pug
permalink: "| organisations/"
order: 2
title: Organisations
description: Leftist organisations in &amp; around Belgium
---

mixin org(title, description, url, subOrg=false)
    if !subOrg
        header
            h2=title
    else
        h3=title
    p=description

    a(href=url)=url

mixin organisations(area, header, subHeader=null)
    h2=header
    if subHeader
        p=subHeader 
        
    section(id=area)
        -
            const orgs = AFAOrganisations.filter((org) => org.type == "politicalorg" && org.area.includes(area));
            const parentOrganisations = orgs.filter((org) => org.parent_organisation == null);
            const childOrganisations = orgs.filter((org) => org.parent_organisation != null);
            const childDirectory = {};  // Weird variable name
            childOrganisations.forEach((org) => {
                // If parent organisation
            try {
                childDirectory[org.parent_organisation].push(org);
            } catch {
                childDirectory[org.parent_organisation] = [org];
            }
            });

        each organisation in parentOrganisations
            ul
                li
                    article
                        +org(organisation.name, organisation.note, organisation.url)
                        if childDirectory[organisation.id]
                            footer
                                ul
                                    each subOrganisation in childDirectory[organisation.id]
                                        li
                                            +org(subOrganisation.name, subOrganisation.note, subOrganisation.url, true)
                        

main#main
    h1 Organisations
    p Support eachother. Below are a bunch of links to leftist organisations. 

    +organisations("antwerp", "Organisations with activity in Antwerp")
    +organisations("surrounding", "Other organisations", "These have no confirmed activity or presence in Antwerp, but might still be nice")
